---
layout: archive
title: "Publications"
permalink: /articles/
author_profile: true
redirect_from: 
  - /wordpress/academic-papers/
---
You can also find my articles on <u><a href="https://scholar.google.com/citations?user=tfCUOvkAAAAJ&hl=en">my Google Scholar profile</a>.</u>

Peer-Reviewed Journal Article

[3]	Jiao, C., Li, K. & Fang, Z. (2022). Data sharing practices across knowledge domains: A dynamic examination of data availability statements in PLOS ONE publications. Journal of Information Science, 016555152211018. <u><a href="https://doi.org/10.1177/01655515221101830">https://doi.org/10.1177/01655515221101830</a></u>
[2]	Li, K. & Jiao, C. (2022). The data paper as a sociolinguistic epistemic object: A content analysis on the rhetorical moves used in data paper abstracts. Journal of the Association for Information Science and Technology, 73(6), 834–846. <u><a href="https://doi.org/10.1002/asi.24585">https://doi.org/10.1002/asi.24585</a></u>
[1]	Li, K., Jiao, C., Sugimoto, C. & Lariviere, V. (2021). Versioning boundary objects: the citation profile of the Diagnostic and Statistical Manual for Mental Disorders (DSM). Journal of Documentation, 78(4), 871–889. <u><a href="https://doi.org/10.1108/JD-06-2021-0117">https://doi.org/10.1108/JD-06-2021-0117</a></u>

Peer-Reviewed Conference Paper
[3]	Li, K. & Jiao, C. (2021). How are data paper abstracts constructed? Preliminary analysis of rhetorical moves in data paper abstracts from Scientific Data and Data in Brief. Proceedings of 18th International Conference on Scientometrics & Informetrics.
[2]	Jiao, C. & Darch, P. (2021). What data should be published as data papers? An analysis of review reports. Paper accepted at the International Digital Curation Conference 2021.
[1]	Jiao, C. & Darch, P. (2020). The role of the data paper in scholarly communication. Proceedings of the Association for Information Science and Technology. 57:e316. https://doi.org/10.1002/pra2.316

Peer-Reviewed Conference Poster
[3]	Chen, P., Li, K. & Jiao, C. (2022). A preliminary analysis of geography of collaboration in data papers by S&T Capacity Index. Proceedings of the Association for Information Science and Technology, 59:642-644. https://doi.org/10.1002/pra2.676
[2]	Jiao, C. (2022). Inaccessible data sharing: Link rot in the Data Availability Statement. Poster presented at the 44th Annual Meeting of Society for Scholarly Publishing 2022, Chicago, IL, June 1-3, 2022.
[1]	Li, K., Lu, C. & Jiao, C. (2021). A Survey of Exclusively Data Journals and How They Are Indexed by Scientific Databases. Proceedings of the Association for Information Science and Technology, 58:771-773. https://doi.org/10.1002/pra2.557

Peer-Reviewed Workshop Presentation
[2]	Jiang, T. & Jiao, C. (2022). How is data publishing work credited in group research? Presentation at Metrics 2022: ASIS&T SIGMET Workshop.
[1]	Jiao, C. & Li, K. (2021). How are data repositories used to share research data? Preliminary evidence from the Public Library of Science (PLoS) data availability statements. Presentation at Metrics 2021: ASIS&T SIGMET Workshop.

Invited Talk and Presentation
[1]	Jiao, C., Rauch, C., Uriri, A., Whitmire, A., Wiley, C., Williams, J., Frick, R. & Mitchell, E. LEADING: Data science innovation across our national digital infrastructure. Invited session at Coalition for Networked Information Spring 2022 Membership Meeting, San Diego, CA, March 28-29, 2022.




{% include base_path %}

{% for post in site.articles reversed %}
  {% include archive-single.html %}
{% endfor %}
